* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-image: url("../images/bg.jpg");
  min-height: 100%; }

a {
  text-decoration: none;
  color: #cacaca; }

.main {
  min-height: 90vh;
  padding: 0; }

.title_date {
  background: linear-gradient(to right, #30CFD0 0%, #003729 100%);
  font-family: "Kaushan Script";
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center; }

.header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 10vh;
  align-items: center; }

.list_header {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 15px; }

.decobtn {
  align-items: center;
  position: absolute;
  right: 30px;
  background: linear-gradient(to right, #30CFD0 0%, #003729 100%);
  border: none !important; }
  .decobtn a {
    color: black; }
  .decobtn a:hover {
    text-decoration: none;
    color: #323232; }

.adminbtn {
  align-items: center;
  position: absolute;
  left: 30px;
  background: linear-gradient(to right, #30CFD0 0%, #003729 100%);
  border: none !important; }
  .adminbtn a {
    color: black; }
  .adminbtn a:hover {
    text-decoration: none;
    color: #323232; }

.nav-link {
  color: #458A79; }

.item_header {
  margin: 0 10px 0 0;
  color: #458A79;
  font-size: 1.6em;
  position: relative;
  text-align: center; }

nav ul li:after {
  display: block;
  content: "";
  background-color: #30CFD0;
  height: 2px;
  width: 0;
  position: absolute;
  -moz-transition: width 0.7s;
  -webkit-transition: width 0.7s;
  transition: width 0.7s; }

nav ul li:hover:after {
  width: 100%; }

.item_header :hover {
  color: #30CFD0; }

.subMenu {
  padding: 2px;
  margin-left: 12px;
  list-style-type: none;
  line-height: 0.7em;
  position: absolute;
  z-index: 1000;
  height: 0;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  -moz-transition: height 0.7s;
  -webkit-transition: height 0.7s;
  transition: height 0.7s; }

.list_header li:hover ul {
  height: 3em; }

.sub_nav {
  font-size: 0.8em; }

.menu_burger {
  display: none; }
  .menu_burger:after {
    content: "MENU";
    position: absolute;
    top: 48px;
    right: 20px;
    color: #30CFD0; }

.img_burger {
  width: 100px;
  height: 100px;
  display: none;
  position: absolute;
  z-index: 1001;
  top: 2px;
  right: 10px; }

.footer {
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; }

.icoL {
  margin-right: 30px; }

.icoR {
  margin-left: 30px; }

.footer_p {
  margin-bottom: 0;
  color: #cacaca; }

@media screen and (min-width: 870px) and (max-width: 1024px) {
  .item_header {
    margin: 0 10px 0 0;
    color: #458A79;
    font-size: 1.3em; }

  .bg_home {
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 1024px;
    margin-top: 7%; }

  .main_titre {
    margin: 7% 0 10% 23% !important; }

  .homesliderparent {
    margin-left: 31% !important; } }
@media screen and (min-width: 768px) and (max-width: 870px) {
  .item_header {
    margin: 0 10px 0 0;
    color: #458A79;
    font-size: 1.3em; }

  .bg_home {
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 900px;
    margin-top: 7%;
    height: 100% !important; }

  .main_titre {
    margin: 7% 0 5% 23% !important; }

  .homesliderparent {
    margin-left: 35% !important;
    margin-bottom: 2%; }

  .homeslider {
    font-size: 1em !important;
    border-radius: 100px !important;
    width: 250px !important;
    height: 125px !important; }

  .main {
    min-height: 70vh !important; } }
@media screen and (min-width: 735px) and (max-width: 768px) {
  .item_header {
    margin: 0 10px 0 0;
    color: #458A79;
    font-size: 1.3em; }

  .bg_home {
    background-size: contain !important;
    background-repeat: no-repeat;
    width: 900px;
    margin-top: 7%;
    height: 100% !important; }

  .main_titre {
    margin: 7% 0 5% 23% !important; }

  .homesliderparent {
    margin-left: 35% !important;
    margin-bottom: 2%; }

  .homeslider {
    font-size: 1em !important;
    border-radius: 100px !important;
    width: 250px !important;
    height: 125px !important; }

  .place {
    font-size: 1.1em !important; }

  .main {
    min-height: 70vh !important; } }
@media screen and (min-width: 480px) and (max-width: 735px) {
  .homesliderparent {
    display: none; }

  .main_titre {
    font-size: 8em !important;
    text-align: center;
    background: linear-gradient(to right, #01261c 30%, #30CFD0 70%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    margin-top: 12% !important; }

  .container_row {
    margin: 100px 0 0 0 !important; }

  .bg_home {
    background-size: contain !important;
    background-repeat: no-repeat;
    height: 100% !important; }

  .main {
    min-height: 80vh !important; }

  .nav_header {
    display: none; }

  .menu_burger {
    display: block;
    position: relative; }

  .img_burger {
    display: block; }

  .list_burger {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #30CFD0;
    list-style: none;
    position: absolute !important;
    right: -100px;
    top: 90px;
    z-index: 10000;
    line-height: 3em !important;
    padding-left: 8px;
    border-radius: 0 0 0 7px !important; }

  .list-burger-show {
    animation: listburgershow .6s forwards; }

  @keyframes listburgershow {
    from {
      right: -100px;
      top: 90px; }
    to {
      right: 0;
      top: 90px; } }
  .item_burger a:hover {
    color: #30CFD0 !important; }

  .title_date {
    font-size: 2.5em !important; }

  .title_photos {
    font-size: 2.3em !important; }

  .title_videos {
    font-size: 2.3em !important; }

  .background-box {
    font-size: 0.9em !important; }

  .place {
    font-size: 1.4em !important; } }
@media screen and (min-width: 425px) and (max-width: 480px) {
  .homesliderparent {
    display: none; }

  .main_titre {
    font-size: 8em !important;
    margin: 150px 0 400px 0 !important;
    text-align: center;
    background: linear-gradient(to right, #01261c 30%, #30CFD0 70%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    margin-top: 12% !important; }

  .container_row {
    margin: 100px 0 0 0 !important; }

  .bg_home {
    background-size: contain !important;
    background-repeat: no-repeat;
    height: 100% !important; }

  .main {
    min-height: 80vh !important; }

  .nav_header {
    display: none; }

  .menu_burger {
    display: block;
    position: relative; }

  .img_burger {
    display: block; }

  .list_burger {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #30CFD0;
    list-style: none;
    position: absolute !important;
    right: -100px;
    top: 90px;
    z-index: 10000;
    line-height: 3em !important;
    padding-left: 8px;
    border-radius: 0 0 0 7px !important; }

  .list-burger-show {
    animation: listburgershow 1s forwards; }

  @keyframes listburgershow {
    from {
      right: -100px;
      top: 90px; }
    to {
      right: 0;
      top: 90px; } }
  .item_burger a:hover {
    color: #30CFD0 !important; }

  .background-box {
    font-size: 0.8em !important; }

  .dates {
    margin: 100px 70px 0 70px !important; }

  .place {
    font-size: 1.3em !important; }

  .title_date {
    font-size: 2.3em !important; }

  .title_photos {
    font-size: 2.3em !important; }

  .title_videos {
    font-size: 2.3em !important; } }
@media screen and (min-width: 375px) and (max-width: 425px) {
  .homesliderparent {
    display: none; }

  .main_titre {
    font-size: 6em !important;
    margin: 150px 0 400px 0 !important;
    text-align: center;
    background: linear-gradient(to right, #01261c 30%, #30CFD0 70%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    margin-top: 12% !important; }

  .container_row {
    margin: 100px 0 0 0 !important; }

  .bg_home {
    background-size: contain !important;
    background-repeat: no-repeat;
    height: 100% !important; }

  .main {
    min-height: 80vh !important; }

  .nav_header {
    display: none; }

  .menu_burger {
    display: block;
    position: relative; }

  .img_burger {
    display: block; }

  .list_burger {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #30CFD0;
    list-style: none;
    position: absolute !important;
    right: -100px;
    top: 90px;
    z-index: 10000;
    line-height: 3em !important;
    padding-left: 8px;
    border-radius: 0 0 0 7px !important; }

  .list-burger-show {
    animation: listburgershow 1s forwards; }

  @keyframes listburgershow {
    from {
      right: -100px;
      top: 90px; }
    to {
      right: 0;
      top: 90px; } }
  .item_burger a:hover {
    color: #30CFD0 !important; }

  .title_date {
    font-size: 2.3em !important; }

  .title_photos {
    font-size: 2.3em !important; }

  .title_videos {
    font-size: 2.3em !important; }

  .background-box {
    font-size: 0.8em !important; }

  .dates {
    margin: 100px 70px 0 70px !important; }

  .place {
    font-size: 1.3em !important; } }
@media screen and (max-width: 375px) {
  .homesliderparent {
    display: none; }

  .main_titre {
    font-size: 4em !important;
    margin: 150px 0 400px 0 !important;
    text-align: center;
    background: linear-gradient(to right, #01261c 30%, #30CFD0 70%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    margin-top: 12% !important; }

  .container_row {
    margin: 70px 0 0 0 !important; }

  .bg_home {
    background-size: contain !important;
    background-repeat: no-repeat;
    height: 100% !important; }

  .main {
    min-height: 80vh !important; }

  .nav_header {
    display: none; }

  .menu_burger {
    display: block;
    position: relative; }

  .img_burger {
    display: block; }

  .list_burger {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #30CFD0;
    list-style: none;
    position: absolute !important;
    right: -100px;
    top: 90px;
    z-index: 10000;
    line-height: 3em !important;
    padding-left: 8px;
    border-radius: 0 0 0 7px !important; }

  .list-burger-show {
    animation: listburgershow 1s forwards; }

  @keyframes listburgershow {
    from {
      right: -100px;
      top: 90px; }
    to {
      right: 0;
      top: 90px; } }
  .item_burger a:hover {
    color: #30CFD0 !important; }

  .title_date {
    font-size: 2.3em !important; }

  .title_photos {
    font-size: 2.3em !important; }

  .title_videos {
    font-size: 2.3em !important; }

  .background-box {
    font-size: 0.8em !important; }

  .place {
    font-size: 1.1em !important; }

  .dates {
    margin: 100px 70px 0 70px !important; } }
.background-box {
  color: #30CFD0;
  background-color: rgba(58, 119, 104, 0.1);
  border-radius: 8px;
  padding: 35px 10px 30px 10px;
  font-family: 'Montserrat', sans-serif; }

.date {
  margin: 10px;
  text-align: center;
  font-size: 1.3em; }

.dates {
  margin: 100px;
  justify-content: center; }

.datesbtn {
  width: 100%;
  margin: 30px 0 0 0;
  text-align: center;
  justify-content: center;
  border-radius: 0 0 15px 15px; }
  .datesbtn a {
    text-decoration: none; }

.updatebtn_date {
  font-size: 1.2em;
  margin: 0 0 0 5px;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%); }

.deletebtn_date {
  font-size: 1.2em;
  margin: 0 0 0 0;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%); }

.admin_category {
  text-align: center;
  color: #458A79;
  background-color: black;
  opacity: 0.8;
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px 20px 0;
  height: auto;
  transition: background-color 1s; }
  .admin_category:hover {
    background-color: rgba(70, 64, 59, 0.5); }

.admin_categories {
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 30px; }
  .admin_categories a {
    text-decoration: none; }
    .admin_categories a:hover {
      color: #30CFD0; }

.deleteColor {
  color: black !important; }
  .deleteColor:hover {
    color: red !important; }

.updateColor {
  color: black !important; }
  .updateColor:hover {
    color: white !important; }

.membre {
  margin: 20px; }

.background-box-band {
  color: #01261c;
  border-radius: 8px;
  padding: 10px; }

.membres {
  justify-content: center;
  margin-top: 100px;
  perspective: 2000px; }

.membres .membre:first-child {
  background: url("../images/membreBenCarbonite.jpg") no-repeat;
  background-size: cover;
  transform: rotateY(35deg);
  animation: moveOutFirst 3s; }
  .membres .membre:first-child:hover {
    animation: moveInFirst 2s forwards; }
    .membres .membre:first-child:hover .bio_style {
      animation: backgroundBandBio 2s forwards; }
    .membres .membre:first-child:hover .name_style {
      animation: backgroundBandName 2s forwards; }

@keyframes backgroundBandBio {
  To {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 60%; } }
@keyframes backgroundBandName {
  To {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: auto;
    padding: 0 0 0 10px; } }
@keyframes moveInFirst {
  To {
    transform: rotateY(0deg);
    background: url("../images/membreBen.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; } }
@keyframes moveOutFirst {
  From {
    transform: rotateY(1deg);
    background: url("../images/membreBen.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; }
  To {
    transform: rotateY(35deg); } }
.membre:nth-child(2) {
  background: url("../images/membreVinzCarbonite.jpg") no-repeat;
  background-size: cover;
  transform: rotateY(-35deg);
  animation: moveOutSecond 3s; }
  .membre:nth-child(2):hover {
    animation: moveInSecond 2s forwards; }
    .membre:nth-child(2):hover .bio_style {
      animation: backgroundBandBio 2s forwards; }
    .membre:nth-child(2):hover .name_style {
      animation: backgroundBandName 2s forwards; }

@keyframes moveInSecond {
  To {
    transform: rotateY(0deg);
    background: url("../images/membreVinz.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; } }
@keyframes moveOutSecond {
  From {
    transform: rotateY(0deg);
    background: url("../images/membreVinz.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; }
  To {
    transform: rotateY(-35deg); } }
.membre:nth-child(3) {
  background: url("../images/membreAlexCarbonite.jpg") no-repeat;
  background-size: cover;
  transform: rotateY(35deg);
  animation: moveOutThird 3s; }
  .membre:nth-child(3):hover {
    animation: moveInThird 2s forwards; }
    .membre:nth-child(3):hover .bio_style {
      animation: backgroundBandBio 2s forwards; }
    .membre:nth-child(3):hover .name_style {
      animation: backgroundBandName 2s forwards; }

@keyframes moveInThird {
  To {
    transform: rotateY(0deg);
    background: url("../images/membreAlex.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; } }
@keyframes moveOutThird {
  From {
    transform: rotateY(0deg);
    background: url("../images/membreAlex.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; }
  To {
    transform: rotateY(35deg); } }
.membre:nth-child(4) {
  background: url("../images/membreMorganeCarbonite.jpg") no-repeat;
  background-size: cover;
  transform: rotateY(-35deg);
  animation: moveOutFourth 3s; }
  .membre:nth-child(4):hover {
    animation: moveInFourth 2s forwards; }
    .membre:nth-child(4):hover .bio_style {
      animation: backgroundBandBio 2s forwards; }
    .membre:nth-child(4):hover .name_style {
      animation: backgroundBandName 2s forwards; }

@keyframes moveInFourth {
  To {
    transform: rotateY(0deg);
    background: url("../images/membreMorgane.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; } }
@keyframes moveOutFourth {
  From {
    transform: rotateY(0deg);
    background: url("../images/membreMorgane.jpg") no-repeat;
    background-size: cover;
    color: #2ec0c1; }
  To {
    transform: rotateY(-35deg); } }
@keyframes moveInRight {
  From {
    transform: rotateY(0deg); }
  To {
    transform: rotateY(-35deg); } }
.name_style {
  font-family: "Kaushan Script";
  font-size: 3em;
  margin: auto;
  text-align: center; }

.bio_style {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  width: 60%;
  margin-top: 35px; }

.bandbtn {
  width: 100%;
  margin: 30px 0 0 0;
  text-align: center; }
  .bandbtn a {
    text-decoration: none; }

.updatebtn_band {
  background: linear-gradient(to right, black 0%, grey 50%, black 100%);
  border-radius: 0 0 15px 0;
  font-size: 1.5em;
  margin: 0;
  padding: 2px;
  width: 35%; }

.deletebtn_band {
  background: linear-gradient(to right, black 0%, grey 50%, black 100%);
  border-radius: 0 0 0 15px;
  font-size: 1.5em;
  margin: 0;
  padding: 2px;
  width: 35%; }

.titre_form {
  text-align: center;
  font-style: italic;
  color: #30CFD0;
  line-height: 3em;
  margin: 0; }

.form_add_container {
  background: linear-gradient(to right, #30CFD0 0%, #003729 100%);
  padding: 5%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: white;
  font-size: 1.4em; }

.labels {
  padding: 0 !important;
  text-align: left; }

.fields {
  padding: 0; }

.field_lyrics {
  min-height: 400px !important; }

.returnbutton {
  background-color: #003729 !important;
  border-color: #003729; }
  .returnbutton:hover {
    border-color: #003729;
    color: #6FA698 !important; }

.boutons {
  margin: 40px 0 0 0; }

.returnbutton a {
  text-decoration: none !important;
  color: white; }

.savebutton {
  background-color: #30CFD0 !important;
  border-color: #003729; }
  .savebutton:hover {
    border-color: #6FA698; }

.login_style {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center; }

.loginform {
  background: linear-gradient(to right, #30CFD0 0%, #003729 100%);
  display: flex;
  flex-direction: column;
  width: 33%;
  border-radius: 10px;
  margin: 120px auto 0 auto;
  padding: 15px; }

.login_title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #458A79;
  font-size: 4em;
  margin-top: 80px; }

.lab_admin {
  font-size: 1.5em;
  line-height: 50px;
  margin-top: 20px; }

.inp_admin {
  font-size: 2em; }

.checkbox {
  width: 20px;
  height: 20px; }

.remember {
  margin-top: 10px;
  display: flex;
  height: 50px; }

.login_btn {
  width: 30%;
  height: 50px;
  border-radius: 5px;
  font-size: 1.5em;
  margin: auto; }

.title_videos {
  background: linear-gradient(to right, #30CFD0 0%, #003729 100%);
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }

.video_frame {
  background-color: black;
  opacity: 0.6;
  margin: 10px; }
  .video_frame:hover {
    opacity: 1; }

.video_title {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  color: #458A79; }

.video_container {
  margin-bottom: 30px; }

.deletebtn_video {
  font-size: 1.2em;
  margin: 0 0 0 0;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%);
  border: none; }
  .deletebtn_video a {
    text-decoration: none;
    color: black !important; }
    .deletebtn_video a:hover {
      color: red !important; }

.title_photos {
  background: linear-gradient(to right, #30CFD0 0%, #003729 100%);
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }

.photo_container {
  margin-bottom: 30px; }

.photo_miniature {
  margin: 0 20px 20px 0; }

.deletebtn_photo {
  font-size: 1.2em;
  margin: 0 0 30px 0;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%);
  border: none; }
  .deletebtn_photo a {
    text-decoration: none;
    color: black !important; }
    .deletebtn_photo a:hover {
      color: red !important; }

.tips {
  font-size: 0.5em; }

.itemfont {
  font-family: "Kaushan Script";
  font-size: 1.4em;
  line-height: 2em; }

.song_list {
  columns: 2;
  column-gap: 50px;
  width: 80%;
  margin: 100px auto 0 auto;
  text-align: center; }
  .song_list a {
    text-decoration: none;
    color: #458A79; }
    .song_list a:hover {
      color: #30CFD0; }

.song_item {
  margin: auto; }

.column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 8px; }
  .column:hover {
    background-color: rgba(58, 119, 104, 0.1); }

.songsbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 0 0 15px 15px; }
  .songsbtn a {
    text-decoration: none; }

.updatebtn_song {
  font-size: 1.2em;
  margin: 0;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%); }

.deletebtn_song {
  font-size: 1.2em;
  margin: 0 0 0 10px;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%); }

.lyrics_container {
  margin-top: 100px; }

.song_title {
  font-family: "Kaushan Script";
  font-size: 5em;
  background: linear-gradient(to right, #30CFD0 0%, #01261c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  padding-bottom: 10px; }

.song_lyrics {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  color: black;
  background: url("../images/olivier.jpg");
  background-size: cover;
  padding: 100px 20px 20px 20px;
  border-radius: 8px;
  width: 60%;
  min-height: 800px; }

.bg_home {
  background-image: url("../images/cello-background.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh; }

.main_titre {
  font-family: 'Kaushan Script', cursive;
  font-size: 10em;
  margin: 7% 0 11% 0%;
  background: linear-gradient(to right, #01261c 5%, #30CFD0 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  padding-left: 4%; }

.homeslider {
  background-color: rgba(58, 119, 104, 0.1);
  border-radius: 150px;
  width: 300px;
  height: 150px;
  font-family: 'Montserrat', sans-serif; }

.homesliderparent {
  margin-left: 6%; }

.colortext {
  color: #30CFD0; }

.no-mrg_no-pad {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
