.background-box {
  color: $color_item_header_hover;
  background-color: rgba(58, 119, 104, 0.1);
  border-radius: 8px;
  padding: 35px 10px 30px 10px;
  font-family: 'Montserrat', sans-serif;

}

.title-news{
  font-family: $cursive_font;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  color: $color_item_header;
}

.date{
  margin: 10px;
  text-align: center;
  font-size: 1.3em;
}


.dates{
  margin: 100px;
  justify-content: center;
}

/////admin buttons/////

.datesbtn{
  width: 100%;
  margin:30px 0 0 0;
  text-align: center;
  justify-content: center;
  border-radius: 0 0 15px 15px;

  a{
    text-decoration: none;
  }
}

.updatebtn_date{
  font-size: 1.2em;
  margin: 0 0 0 5px;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%);

}

.deletebtn_date{
  font-size: 1.2em;
  margin: 0 0 0 0;
  width: 50%;
  background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%);

}
