.bg_home {
  background-image: url("../images/cello-background.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
}

.main_titre {
  font-family: 'Kaushan Script', cursive;
  font-size: 10em;
  margin: 7% 0 11% 0%;
  background: linear-gradient(to right, #01261c 5%, $color_item_header_hover 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  padding-left: 4%;
}

.homeslider{
  background-color: rgba(58, 119, 104, 0.1);
  border-radius: 150px;
  width: 300px;
  height: 150px;
  font-family: 'Montserrat', sans-serif;
}

.homesliderparent{
  margin-left: 6%;
}

.colortext{
  color: $color_item_header_hover;
}

.no-mrg_no-pad{
  margin:0;
  padding:0;
}
