{% extends '@lucky/Default/base.html.twig' %}

{% block main %}

    <div class="container-fluid bg_home img-fluid">
        <div class="row container_row">
            <h1 class="main_titre col-12">Lucky</h1>

            <div id="carouselExampleSlidesOnly" class="carousel slide homesliderparent" data-interval="2800" data-ride="carousel">

                <div class="carousel-inner homeslider">
                    {% for concert in concerts %}

                        {% if loop.first %}
                        <div class="carousel-item active homeslider">

                            <div class="colortext carousel-caption d-none d-md-block ">
                                <p class="no-mrg_no-pad ">Prochaines Dates:</p>
                                <h2 class="place no-mrg_no-pad ">{{ concert.place }}</h2>
                                <p class="no-mrg_no-pad ">{{ concert.date|date('m/d/y') }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="carousel-item homeslider">
                            <div class=" colortext carousel-caption d-none d-md-block no-mrg_no-pad">
                                <p class="no-mrg_no-pad ">Prochaines Dates:</p>
                                <h2 class="place no-mrg_no-pad">{{ concert.place }}</h2>
                                <p class="date no_mrg_no-pad">{{ concert.date|date('m/d/y') }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

    </div>

{% endblock %}
