{% extends '@lucky/Default/base.html.twig' %}

{% block main %}
    <h1 class="title_photos">Photos</h1>
    <div class="container">
        <div id="lightgallery" class="row justify-content-center">
            {% for photo in photos %}

                    <a href="{{ asset('uploads/images/products/'~photo.image~'') }}">
                        <img src="{{ asset('uploads/images/products/'~photo.imageThumb~'') }}" alt='{{ photo.alt }}'
                             class="photo_miniature">
                    </a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row justify-content-center">
                            <p class="deletebtn_photo btn btn-primary"><a
                                        href="{{ path('lucky_deletePhoto', {'id': photo.id}) }}">Supprimer</a>
                            </p>
                        </div>
                    {% endif %}


            {% endfor %}
        </div>
    </div>
{% endblock %}