{% extends '@lucky/Default/base.html.twig' %}

{% block main %}
    <h1 class="title_photos">Photos</h1>
    <div class="container">
        <div class="row justify-content-center">
            {% for photo in photos %}
                <div class="col-3 photo_container ">
                    <img src="{{ asset('uploads/images/products/'~photo.image~'') }}" alt='{{ photo.alt }}' class="photo_miniature">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row justify-content-center">
                            <p class="deletebtn_photo btn btn-primary"><a
                                        href="{{ path('lucky_deletePhoto', {'id': photo.id}) }}">Supprimer</a>
                            </p>
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}